{% load i18n %}
<html>
<head>
 <title>{{title}}</title>
</head>
<body>

<h1>{{title}}</h1>

{% trans "This is a test." %}
<p>
{% trans "Random value" %} {{random}}.

<h2>{% trans "Test if" %}</h2>
{% if random_gt %}
{% trans "random_gt is present" %}
{% else %}
{% trans "random_gt is not present" %}
{% endif %}

<h2>{% trans "Test for" %}</h2>
<ul>
{% for i in subd %}
<li>{{i}}</li>
{% endfor %}
</ul>

<h2>{% trans "Test include" %}</h2>
{% include "external.html" %}

<h2>{% trans "Test some C code" %}</h2>

<pre>
int argc(int argv, char **argv){
	printf("Hello world!\n");
}
</pre>

</body>
</html>
