{% load i18n %}
<html>
<head>
 <title>{{title}}</title>
</head>
<body>

<h1>{{title}}</h1>

<h2>{% trans "Test vars." %}</h2>
<p>
<ul>
<li>{% trans "Random value" %} {{random }}.
<li>{% trans "sub.0" %} {{ subd.0 }}.
<li>{% trans "Not found" %} {{ does-not-exists }}.
<li>{% trans "Not found trans" %} {{ subd.0.1 }}.
</ul>


<h2>{% trans "Test if" %}</h2>

<p>
{%if random %}
<span style="color: green;">OK</span> {% trans "random is present" %}
{% else%}
<span style="color: red;">ERROR</span> {% trans "random is not present" %}
{%endif%}
</p>
<p>
{% if subd %}
<span style="color: green;">OK</span>
{% else %}
<span style="color: red;">ERROR</span>
{% endif %}
 access elements on if.</p>

<p>
{% if subd.0 %}
<span style="color: green;">OK</span>
{% else %}
<span style="color: red;">ERROR</span>
{% endif %}
 access subelements on if. </p>

<p>
{% if empty %}
<span style="color: red;">ERROR</span>
{% else %}
<span style="color: green;">OK</span>
{% endif %}
Empty element do not enter true if
</p>




<h2>{% trans "Test for" %}</h2>
<ul>
{% for i in subd %}
<li>{{i}}</li>
{% endfor %}
</ul>

<h2>{% trans "Test include" %}</h2>
{% include "external.html" %}

<h2>{% trans "Test some C code" %}</h2>

<pre>
int argc(int argv, char **argv){
	printf("Hello world!\n");
}
</pre>

</body>
</html>
